html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#contents {
  position: absolute;
  left: 0;
  top: 0;
  right: -30px;
  bottom: 0;
  padding-right: 15px;
  overflow-y: scroll;
  width: 100%
}
td, .aw-widget-current-inner {
  width: 160px !important;
  height: 233px !important;
  max-width: 160px !important;
  max-height: 233px !important;
  padding: 0;
  margin: 0;
}
#link_get_widget {
  visibility: hidden;
}
.aw-weather-description, h3 {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
#t1, #c1, #t1c {
  vertical-align: middle;
}